body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    background-image: url('../images/background-2.jpg');
    background-size: cover ;
    background-attachment: fixed;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.cabecalho {
    background-color: #fff;
    width: 350px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.fa-arrow-circle-left {
    font-size: 30px;
    color: #0f2632;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.setores {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setores button {
    width: 400px;
    height: 70px;
    margin: 1px;
    font-size: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.botoes-flex {
    display: flex;
    align-items: center;
}

.setores button:hover {
    background-color: rgb(5, 90, 5);
    color: #fff;
}

.itens-setores {
    margin-left: 30px;
    margin-right: 60px;
}